<!DOCTYPE html>
<html lang="en">
  <head>
    <title>#MovingToGitLab Tutorials - {{pageName}}</title>
    <meta
      name="description"
      content="Migrate your projects from somewhere into GitLab painlessly and easily."
    />
    <link
      id="favicon"
      rel="icon"
      href="https://gitlab.com/favicon.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <noscript>
      <h1>
        JavaScript is disabled, and you see those mess
      </h1>
        <p>
          Would do you like to
      </p>
    </noscript>
    
    <!-- import jQuery and Poper first -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <!-- deploy Bootstrap next -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>
    <body class="d-flex flex-column h-100">
    <header>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/">#MovingToGitLab</a>

        <!-- Toggler/collapsibe Button -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/launchpad">Launchpad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://glitch.com/~{{glitchProjectSlug}}"
                >View source in Glitch
              </a>
            </li>
          </ul>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#myModal"
          >
            Send Feedback <span class="badge badge-light">Soon</span>
          </button>
          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">
                    We love your feedback!
                  </h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  To send feedback for this tutorial, 
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong
        >This Node.js app uses Bootstrap 4 and may break your browsing
        experience here.</strong
      >
      Please use modern, supported browsers in order to continue.
      <a
        href="https://getbootstrap.com/docs/4.0/getting-started/browsers-devices/"
        class="alert-link"
        >Learn more about Bootstrap Compartiability</a
      >. By continuning to this site and/or dismissing this alert, you agree to
      our browser compartibility notices.
    </div>
    {{{body}}}
          <div class="jumbotron text-center" style="margin-bottom:0">
      <p>
        The #MovingToGitLab guide book website is optmized for mobile reading
        with Bootstrap 4, which requires modern browser to continue.
      </p>
      <p>
        Tutorials, references, and examples are continuously reviewed to avoid
        errors, but we cannot warrant full correctness of all content. Copyright
        2019 by The Pins Team and other contributors from Glitch.com and GitLab
        platforms. Licensed under
        <a href="/about#copyright"
          >MIT License and Creative Commons Attribution-ShareAlike 4.0
          International</a
        >. The GitLab icon used as favicon, is trademark of GitLab, Inc.
      </p>
    </div>
  </body>
</html>